<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1>Firebase Experiments.</h1>
		<p class="bg-warning text-warning">
			<span class="glyphicon glyphicon-cog"></span> Under Construction.
			Experiments of Developers with firebase. This websites <a
				class="btn btn-default"
				href="https://game-asset-generator.firebaseio.com/" target="_blank">firebase</a>
		</p>
		<div id="messagesDiv">
			<p>Database content: {{messages}}</p>
			<p>As list:
			<ul>
				<li ng-repeat="curEntry in messages">{{curEntry}}</li>
			</ul>
			</p>
		</div>
		<input type="text" ng-model="newVarName"
			placeholder="New Variable Name"> <input type="text"
			ng-model="newVarValue" ng-keydown="addMessage($event)"
			placeholder="New Variable Value">
	</div>
</div>