<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1>Google Drive Experiments.</h1>
		<p class="bg-warning text-warning">
			<span class="glyphicon glyphicon-cog"></span> Under Construction.
			Experiments of Developers with Google Drive. This websites <a
				class="btn btn-default"
				href="https://drive.google.com/folderview?id=0BzM6N9naVgG_RWcya1hERTkwUUU&usp=drive_web"
				target="_blank">gDrive</a>
		</p>
	</div>
</div>