<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>Asset Generator</h1>

				<h2>
					<em><small>Get your own Game Assets &ndash; Free,
							Fast, Individual, Complete, In one place.</small></em>
				</h2>
				<p>
					<a class="btn btn-primary btn-lg disabled" role="button"><span
						class="glyphicon glyphicon-cog"></span> Under Construction.
						&raquo;</a>
				</p>
			</div>
			<div class="col-md-6 bg-warning">
				<img class="img-responsive pull-right" src="./img/gears.png/"
					alt="gears"></img>
				<p>This website is under construction. Until the generators are
					up it will provide fixed sets of assets, databases of fix assets or
					links to sources.</p>
				<p>
					We would approve your help in building up this site. Check out how
					you can help <a href="#/helpUs">here</a>.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-md-4">
			<h2>
				Backgrounds <span class="glyphicon glyphicon-picture"></span>
			</h2>
			<p>All kinds of backgrounds, foregrounds and paralax graphics.
				Continuus or Tiles.</p>
			<p>
				<a class="btn btn-default disabled" href="#" role="button"><span
					class="glyphicon glyphicon-cog"></span> Under Construction. &raquo;</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Animations <span class="glyphicon glyphicon-play-circle"></span>
			</h2>
			<p>All Kinds of Animations: Sprites for Players, Enemies,
				Decorations, Items.</p>
			<p>
				<a class="btn btn-default disabled" href="#" role="button"><span
					class="glyphicon glyphicon-cog"></span> Under Construction. &raquo;</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Sound FX <span class="glyphicon glyphicon-bullhorn"></span>
			</h2>
			<p>All Kinds of Sound Effects: Screams, Explosions, Coins, Jumps.</p>
			<p>
				<a class="btn btn-default disabled" href="#" role="button"><span
					class="glyphicon glyphicon-cog"></span> Under Construction. &raquo;</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Music <span class="glyphicon glyphicon-music"></span>
			</h2>
			<p>All Kinds of Backgound Musics: Classic, Western, Future,
				Pulsating, Relaxing.</p>
			<p>
				<a class="btn btn-default disabled" href="#" role="button"><span
					class="glyphicon glyphicon-cog"></span> Under Construction. &raquo;</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Particles <span class="glyphicon glyphicon-fire"></span>
			</h2>
			<p>All Kinds of Particles: Fire, Explosions, Rain, Snow, Smoke.</p>
			<p>
				<a class="btn btn-default disabled" href="#" role="button"><span
					class="glyphicon glyphicon-cog"></span> Under Construction. &raquo;</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Graphics <span class="glyphicon glyphicon-tree-deciduous"></span>
			</h2>
			<p>All kinds of static graphics: Plattforms, Decorations,
				Barriers, Items</p>
			<p>
				<a class="btn btn-default disabled" href="#" role="button"><span
					class="glyphicon glyphicon-cog"></span> Under Construction. &raquo;</a>
			</p>
		</div>
	</div>

	<hr>

	<footer>
		<p>
			Asset Generator v<span app-version></span>
		</p>
	</footer>
</div>
<!-- /container -->