<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1>Pixi Experiments.</h1>
		<p class="bg-warning text-warning">
			<span class="glyphicon glyphicon-cog"></span> Under Construction.
			Experiments of Developers with pixijs. <a class="btn btn-default"
				href="http://www.pixijs.com/examples/">all Examples</a>
		</p>
		<p>Showing of 'interpolate' filter: {{ 'Current version is
			v%VERSION%.' | interpolate }}</p>
	</div>
</div>

<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-md-4">
			<h2>Example 1</h2>
			<h2>Simple Rotation.</h2>
			<p>
				<a class="btn btn-default" href="#/pixiExample01">Try it.</a> <a
					class="btn btn-default"
					href="http://www.goodboydigital.com/pixijs/examples/1/"
					target="_blank">Example Source</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>Example 2</h2>
			<h2>Using a Sprite Sheet</h2>
			<p>
				<a class="btn btn-default" href="#/pixiExample02">Try it.</a> <a
					class="btn btn-default"
					href="http://www.goodboydigital.com/pixijs/examples/2/"
					target="_blank">Example Source</a>
			</p>
		</div>
	</div>
</div>

<div class="jumbotron">
	<div class="container">
		<div id="pixiCanvas"></div>
	</div>
</div>