<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h1>Sound FX</h1>

				<h2>
					<em><small>Get your own Game Assets &ndash; Free,
							Fast, Individual, Complete, In one place.</small></em>
				</h2>
				<p>
					<input type="search" class="form-control"
						placeholder="Search for assets..." disabled>
				</p>
				<p>
					<a class="btn btn-primary btn-lg disabled" role="button"><span
						class="glyphicon glyphicon-cog"></span> Under Construction.
						&raquo;</a>
				</p>
			</div>
			<div class="col-md-4">
				<h1 class="text-right">
					<i class="glyphicon glyphicon-bullhorn fa-5x"></i>
				</h1>
			</div>
			<div class="col-md-4 bg-warning text-warning">
				<br /> <img class="img-responsive pull-right"
					src="./img/gears.png/" alt="gears"></img>
				<p>This website is under construction. Until the generators are
					up, we will provide fixed sets of assets, databases of fix assets
					or links to sources.</p>
				<p>We would approve your help in building up this site.</p>
				<p style="text-align: center">
					<a class="btn btn-default btn-warning" href="#/helpUs"
						role="button"><span class="glyphicon glyphicon-info-sign"></span>
						How can I support you? &raquo;</a>
				</p>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-md-4">
			<h2>
				<i class="glyphicon glyphicon-bullhorn"></i> Under Construction
			</h2>
			<p>All kinds of backgrounds, foregrounds and paralax graphics.
				Continuus or Tiles.</p>
		</div>
		<hr>
	</div>
	<!-- /container -->